extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Welcome
        div.form-group
            a(href='/users/register') Register
            hr
            hr
            a(href='/users/login') Login
            hr
            hr
            a(href='/users/logout') LogOut
